---
import styles from "../styles/Header.module.css";
---

<header class={styles.header}>
  <div class={`container ${styles.headerContent}`}>
    <a href="/" class={styles.logo}>
      <span class="material-icons">all_inclusive</span>
      MediaBros Latam
    </a>
    <nav>
      <ul class={styles.navUl}>
        <li><a href="/" class={styles.navLink}>Curso</a></li>
        <li><a href="/guia" class={styles.navLink}>Guía</a></li>
        <li><a href="/auditoria" class={styles.navLink}>Auditoría</a></li>
        <li><a href="/diagnostico" class={styles.navLink}>Diagnóstico</a></li>
      </ul>
    </nav>
  </div>
</header>
