---
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  image?: string;
  canonicalURL?: string;
}

const {
  title,
  description,
  image = "assets/og-image.jpg",
  canonicalURL = Astro.url.href,
} = Astro.props;
const socialImage = new URL(image, Astro.site || Astro.url).href;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.BASE_URL}favicon.svg`}
    />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <!-- OpenGraph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImage} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />

    <!-- Google Material Icons & Symbols -->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Menú de Navegación Dev (Se ocultará en build final) -->
    <nav class="dev-nav">
      <a href={import.meta.env.BASE_URL}>Home</a>
      <a href={`${import.meta.env.BASE_URL}index2`}>Home 2</a>
      <a href={`${import.meta.env.BASE_URL}guia`}>Guía</a>
      <a href={`${import.meta.env.BASE_URL}auditoria`}>Auditoría</a>
      <a href={`${import.meta.env.BASE_URL}diagnostico`}>Diagnóstico</a>
    </nav>

    <slot />
  </body>
</html>
